/* You can add global styles to this file, and also import other style files */


body,
html,
app-root {
    height: 100%;
    margin: 0 !important;
}

app-root {
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

::-webkit-scrollbar {
    display: none;
}